services:
  mongodb:
    image: mongo:7
    volumes:
      - mongo_data:/data/db

  meilisearch:
    image: getmeili/meilisearch:v1.6
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - meili_data:/meili_data

  bot:
    build: .
    depends_on:
      - mongodb
      - meilisearch
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - MONGO_URI=mongodb://mongodb:27017/namesearch
      - MEILI_URL=http://meilisearch:7700
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - ADMIN_ID=${ADMIN_ID}
    volumes:
      - ./data:/app/data

volumes:
  mongo_data:
  meili_data:
